body {
    background-color: whitesmoke;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    float: left;
    height: 46px;
    background-color: #00adef;
}
/* Navbar */
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00adef;
}

#navbar li {
    float: right;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover:not(.active) {
    background-color: #00ceef;
}

#navbar .active {
    background-color: #2f7af8;
}

/* Top Parallax */
.parallax {
    background: url(../img/bg-image1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    margin: 0;
    padding: 60px 0px;
}

.parallax .container {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #ffffff;
    padding-top: 70px;
}

/* Cars Filer */
#filter-container {
    margin-top: 20px;
    text-align: center;
}

.filter {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float:left;
    padding-left: 10px;
    display: none;
}

.car-specs {
    color: grey;
    font-size: 18px;
    line-height: 1.6;
}

.filter img {
    width:100%;
    height: 160px;
}

.filter button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.filter button:hover {
    opacity: 0.7;
}

.show {
    display: block;
}

.cars-container {
    margin-top: 20px;
    overflow: hidden;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #00adef;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: #00ceef;
}

.btn.filter-active {
    background-color: #2f7af8;
    color: white;
}

/* Footer */
footer {
    text-align: center;
    font-family: Impact;
    font-weight: normal;
}

/* Forms */
form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    width: 40%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    box-sizing: border-box;
}

input[type=text], input[type=email], input[type=number], input[type=datetime-local], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

textarea {
    height:200px;
}

input[type=submit] {
    background-color: #00adef;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00ceef;
}

/* Customer Reviews */
.parallax-bottom {
    background: url(../img/bg-image1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    margin: 0;
    padding: 100px 0px;
}

.parallax-bottom .container {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #ffffff;
}

.review-container {
/*  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;*/
  padding: 16px;
  margin: 16px 0;
    text-align: center;
    display: none;
}

/* Clear floats after containers */
.review-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.review-container img {
  width: 90px;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.review-container span {
  font-size: 20px;
  margin-right: 15px;
    color: white;
}

.review-container p {
    color: white;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide-active {
  background-color: #bbb;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
